@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root{
  /* COLORS */
  --primary: #35297f;
  --secondary: #872a95;
  --secondary-shade1: #ff4fc6;
  --gradient: linear-gradient(222.38deg,#872a95,#35297f 41.75%,#35297f);
  --white: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat';
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%23370158' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b035b' cx='50' cy='100' r='50'/%3E%3Cg fill='%233f045f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23430662' cx='50' cy='200' r='50'/%3E%3Cg fill='%23470865' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234b0b68' cx='50' cy='300' r='50'/%3E%3Cg fill='%234f0d6b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2353106f' cx='50' cy='400' r='50'/%3E%3Cg fill='%23571272' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%235c1475' cx='50' cy='500' r='50'/%3E%3Cg fill='%23601678' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2364197b' cx='50' cy='600' r='50'/%3E%3Cg fill='%23681b7f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%236d1d82' cx='50' cy='700' r='50'/%3E%3Cg fill='%23711f85' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23752188' cx='50' cy='800' r='50'/%3E%3Cg fill='%237a238b' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e268f' cx='50' cy='900' r='50'/%3E%3Cg fill='%23832892' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23872A95' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  color: var(--white);
}

.container{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.navbarContainer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 #872a95;
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo p{
    font-size: 24px;
}

.logo img{
    width: 50px;
    height: 50px;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}

.create_account_container{
    width: 600px;
    margin: 0 auto;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.3rem;
}

.check_pin_container{
    width: 600px;
    margin: 0 auto;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.3rem;
}

.pin_container{
    display: flex;
    margin: 1rem auto;
    gap: 1rem;
    margin-top: 0.5rem;
}

.pin{
    width: 65px;
    height: 65px;
    display: flex;
    text-align: center;
    font-family: inherit;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    color: var(--white);
}

.pin:focus{
    outline: none;
    border: 5px solid var(--secondary-shade1);
}

.email{
    width: 300px;
    padding: 1rem 1rem;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    color: var(--white);
    font-family: inherit;
    font-size: medium;
    margin: 0 auto;
}

.email:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.pin_heading{
    margin-top: 1.5rem;
    line-height: 0;
}

.forgot_pin{
    text-align: right;
    margin-top: 1rem;
    cursor: pointer;
}


.confirm_btn:hover{
    background-color: #f870cd;
}

.restricted_sites_container{
    max-width: 800px;
    width: 95%;
    margin: 5rem auto;
    margin-bottom: 0;
}


.input{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-family: inherit;
}

.site_name{
    width: 70%;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    color: var(--white);
    padding: 0 1rem;
}

.site_name:focus{
    outline: none;
}


.restrict_btn:hover{
    background-color: #f870cd;
}

.forgot_container{
    width: 300px;
    margin: 0 auto;
}

.check_btn:hover{
    background-color: #f870cd;
}

.info{
    font-size: 11px;
    font-style: italic;
    color: whitesmoke;
    margin-top: 5px;
    width: 70%;
}

#email_address{
    margin: 1.3rem 0;
    font-size: 1.3rem;
}

#email_address span{
    font-weight: bold;
    color: var(--secondary-shade1);    
}

.restricted_sites_table{
    margin: 2.5rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
    text-align: left;
    padding: 8px;
    border-bottom: 5px solid #f870cd; 
}

td {
  border-bottom: 2px solid #f870cd; 
  text-align: left;
  padding: 10px;
}

.site_no{
    width: 20px;
}

.delete_icon{
    text-align: right;
}

.no_data{
    width: 100%;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
}

button:focus{
    outline: none;
}

.btn{
    width: 300px;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 0.7rem 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--secondary-shade1);
    margin: 0 auto;
}

.email_otp, .set_new_pin{
    text-align: center;
    margin-top: 12rem;
}

.email_otp h2{
    width: 450px;
    margin: 0 auto;
}

.email_otp .pin_container,
.set_new_pin .pin_container{
    margin: 1.5rem auto;
    width: max-content;
}

.spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-top: 4px solid #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
            margin: 0 auto;
        }

@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
}