.container{
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%23370158' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b035b' cx='50' cy='100' r='50'/%3E%3Cg fill='%233f045f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23430662' cx='50' cy='200' r='50'/%3E%3Cg fill='%23470865' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234b0b68' cx='50' cy='300' r='50'/%3E%3Cg fill='%234f0d6b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2353106f' cx='50' cy='400' r='50'/%3E%3Cg fill='%23571272' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%235c1475' cx='50' cy='500' r='50'/%3E%3Cg fill='%23601678' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2364197b' cx='50' cy='600' r='50'/%3E%3Cg fill='%23681b7f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%236d1d82' cx='50' cy='700' r='50'/%3E%3Cg fill='%23711f85' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23752188' cx='50' cy='800' r='50'/%3E%3Cg fill='%237a238b' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e268f' cx='50' cy='900' r='50'/%3E%3Cg fill='%23832892' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23872A95' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    height: var(--height);
    width: var(--width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white);
    padding: 1rem;
    position: relative;
}

.calendarContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hrsContainer{
    background: var(--secondary);
    padding: 0.7rem 0.5rem;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4rem;
    position: relative;
}

.date{
    font-weight: bold;
    border-bottom: 3px solid var(--secondary-shade1);
    padding: 0 1.4rem;
    padding-bottom: 5px;
}
